.rating-stars {
    margin: 5px;
}

.rating-stars>*:not(:last-child) {
    padding-right: 10px;
}

.star-icon {
    color: #BEBEBE;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.1s all ease-in-out;
}

.star-icon-semi-filled {
    color: #FFCC00;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.1s all ease-in-out;
    transform: scale(1.3);
}

.star-icon-filled {
    color: #FF9900;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.1s all ease-in-out;
    transform: scale(1.3);
}

.rating-cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    opacity: 0.8;
    cursor: pointer;
    .rating-cancel-icon {
        opacity: 0.8;
    }
    span {
        margin-left: 3px;
        padding-bottom: 2px;
        &:hover {
            text-decoration: underline;
            color: red;
        }
    }
    &:hover {
        opacity: 1;
    }
}

// .rating-stars {
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: center;
// }
// .rating-stars .star-icon:hover,
// .rating-stars .star-icon:hover~.star-icon {
//     color: orange;
//     cursor: pointer;
//     transform: scale(1.3);
//     transition: 0.1s all ease-in-out;
// }